{% if rclone_remote_type == "s3" %}
[{{ rclone_remote_label }}]
type = s3
provider = AWS
env_auth = false
access_key_id = {{ rclone_remote_access_key }}
secret_access_key = {{ rclone_remote_access_secret }}
region = {{ rclone_remote_region }}
location_constraint = aws_location_constraint
acl = private
server_side_encryption = AES256

{% elif rclone_remote_type == "spaces" %}
[{{ rclone_remote_label }}]
type = s3
env_auth = false
access_key_id = {{ rclone_remote_access_key }}
secret_access_key = {{ rclone_remote_access_secret }}
endpoint = {{ rclone_remote_region }}.digitaloceanspaces.com
acl = private
{% endif %}
