{% if rclone_remote_type == "s3" %}
[s3]
type = s3
env_auth = false
access_key_id = {{ rclone_remote_access_key }}
secret_access_key = {{ rclone_remote_access_secret }}
region = {{ rclone_remote_region }}
location_constraint = aws_location_constraint
acl = private

{% elif rclone_remote_type == "spaces" %}
[spaces]
type = s3
env_auth = false
access_key_id = {{ rclone_remote_access_key }}
secret_access_key = {{ rclone_remote_access_secret }}
endpoint = {{ rclone_remote_region }}.digitaloceanspaces.com
acl = private
{% endif %}
