[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
molecule = "*"
ansible-lint = "*"
jmespath = "*"
molecule-plugins = {extras = ["podman"], version = "*"}

[packages]
ansible = "*"

[requires]
python_version = "3.11"
