---
- name: Configure permissions
  notify: restart slapd
  ldap_attr:
    state: exact
    dn: olcDatabase={1}mdb,cn=config
    name: olcAccess
    values:
      - >-
        {0}to dn.subtree="{{ ldap_base }}"
        by dn.exact="{{ ldap_dn_external }}" manage
        by dn.exact="{{ ldap_dn_bind }}" manage
        by dn.children="{{ ldap_admin_group_dn }}" manage
        by dn.children="{{ ldap_user_group_dn }}" write
        by self write
        by anonymous auth
        by * none
      - >-
        {1}to attrs=userPassword
        by self write
        by anonymous auth
        by * none

- name: 'Create root object "{{ ldap_base }}"'
  ldap_entry:
    state: present
    dn: '{{ ldap_base }}'
    objectClass:
      - dcObject
      - organization
      - top
    attributes:
      o: ldap

- name: Create basic organizational units
  ldap_entry:
    state: present
    dn: '{{ item.dn }}'
    attributes:
      ou: '{{ item.ou }}'
    objectClass:
      - organizationalUnit
  with_items:
    - dn: '{{ ldap_user_group_dn }}'
      ou: '{{ ldap_user_group }}'
    - dn: '{{ ldap_admin_group_dn }}'
      ou: '{{ ldap_admin_group }}'
