#!/bin/bash
HOUR=`date +"%H"`
DOW=`date +"%u"`
WOY=`date +"%V"`

FLAGS=-x -F c

pg_dump -d {{ item.name }} ${FLAGS} -f {{ postgresql_backup_files }}/{{ item.name }}-hour-${HOUR}

if [ $HOUR -eq "01" ]
then
        pg_dump -d {{ item.name }} ${FLAGS} -f {{ postgresql_backup_files }}/{{ item.name }}-dow-${DOW}
fi

if [ $DOW -eq "7" -a $HOUR -eq "02" ]
then
        pg_dump -d {{ item.name }} ${FLAGS} -f {{ postgresql_backup_files }}/{{ item.name }}-week-${WOY}
fi
