---
docker_packages:
  - apt-transport-https
  - ca-certificates
  - python3-pip

docker_libraries:
  - docker
  - docker-compose

docker_package: "docker-ce"
docker_apt_release_channel: stable
docker_apt_arch: amd64
docker_apt_repository: "deb [arch={{ docker_apt_arch }}] https://download.docker.com/linux/{{ ansible_distribution|lower }} {{ ansible_distribution_release }} {{ docker_apt_release_channel }}"
docker_compose_version: 1.25.5
docker_compose_url: "https://github.com/docker/compose/releases/download/{{ docker_compose_version }}/docker-compose-Linux-x86_64"
