---
version: "3.3"

services:
    pypiserver:
        image: pypiserver/pypiserver:v{{ pypiserver_version }}
        volumes:
            - type: bind
              source: ./auth
              target: /data/auth
            - type: bind
              source: ./packages
              target: /data/packages
        command: -P /data/auth/.htpasswd -a update,download,list /data/packages
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.pypiserver.rule=Host(`{{ pypiserver_domain }}`)"
            - "traefik.http.routers.pypiserver.entrypoints=web-secure"
            - "traefik.http.routers.pypiserver.tls.certresolver=letsencrypt"
            - "traefik.http.routers.pypiserver.service=pypi-service"
            - "traefik.http.services.pypi-service.loadbalancer.server.port=8080"
            - "traefik.http.middlewares.test-redirectscheme.redirectscheme.scheme=https"
            - "traefik.http.middlewares.test-redirectscheme.redirectscheme.permanent=true"
