---
version: "3.3"

services:
    pypiserver-https:
        image: pypiserver/pypiserver:v{{ pypi_version }}
        volumes:
            - type: bind
              source: ./auth
              target: /data/auth
            - type: bind
              source: ./packages
              target: /data/packages
        command: -P /data/auth/.htpasswd -a update,download,list /data/packages
        labels:
            # Expose container to Traefik
            - "traefik.enable=true"

            # Configure the route
            - "traefik.http.routers.pypi-router.rule=Host(`{{ pypi_domain }}`)"
            - "traefik.http.routers.pypi-router.entrypoints=web-secure"
            - "traefik.http.routers.pypi-router.tls.certresolver=letsencrypt"
            - "traefik.http.routers.pypi-router.service: pypi-service"
            - "traefik.http.services.pypi-service.loadbalancer.server.port: 80"
