---
- include: install.yml
- include: config.yml

- include_role:
    name: logrotate
  vars:
    logrotate_name: "{{ goaccess_name }}"
    logrotate_files_regex: "{{ goaccess_project_log_file }}"
    logrotate_post_command: "ps aux | grep '\\-{{ goaccess_project }}\\-' | awk '{print $2}' | xargs /usr/bin/kill -USR1"
    logrotate_sharedscripts: "no"

- name: ensure goaccess filter is running
  service:
    name: "{{ goaccess_filter_service }}"
    state: started
    enabled: "yes"

- name: ensure goaccess is running
  service:
    name: "{{ goaccess_service }}"
    state: started
    enabled: "yes"
