---
- name: Installed required packages
  package:
    name: "{{ item }}"
    state: present
  with_items: "{{ sentry_packages }}"

- name: Create sentry directories
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
    recurse: yes
  with_items:
    - "{{ sentry_dir }}"

- name: Download Sentry
  git:
    repo: "{{ sentry_repo }}"
    dest: "{{ sentry_dir }}"
    version: master
    accept_hostkey: yes
    force: yes

- name: Set domain name in docker compose
  replace:
    path: "{{ sentry_dir }}/docker-compose.yml"
    regexp: "!!domain-name!!"
    replace: "{{ sentry_domain }}"

- name: Add requirements file
  notify: install sentry
  template:
    src: requirements.txt.j2
    dest: "{{ sentry_requirements_file }}"
    mode: 0644

- name: Add configuration yml file
  notify: install sentry
  template:
    src: config.yml.j2
    dest: "{{ sentry_config_yml_file }}"
    mode: 0644

- name: Add configuration py file
  notify: install sentry
  template:
    src: sentry.conf.py.j2
    dest: "{{ sentry_config_py_file }}"
    mode: 0644

- include_role:
    name: traefik
  vars:
    docker_config: "yes"
    label: "{{ sentry_label }}"
    domain: "{{ sentry_domain }}"
    ip_address: "{{ ansible_default_ipv4.address }}"
