---
- include_tasks: install.yml

- include_role:
    name: traefik
  vars:
    docker_config: "yes"
    label: "{{ sentry_label }}"
    domain: "{{ sentry_domain }}"
    ip_address: "{{ ansible_default_ipv4.address }}"
