[Unit]
Description={{ celery_name|title }} Celery Service
After=syslog.target
After=network.target

[Service]
Type=forking
User={{ celery_user }}
Group={{ celery_group }}
EnvironmentFile={{ celery_config_file }}
WorkingDirectory={{ celery_working_dir }}
ExecStart=/bin/sh -c '${CELERY_BIN} -A $CELERY_APP worker \
    --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} \
    --loglevel="${CELERYD_LOG_LEVEL}" $CELERYD_OPTS'
ExecStop=/bin/sh -c '${CELERY_BIN} multi stopwait $CELERYD_NODES \
    --pidfile=${CELERYD_PID_FILE} --loglevel="${CELERYD_LOG_LEVEL}"'
ExecReload=/bin/sh -c '${CELERY_BIN} -A $CELERY_APP multi restart $CELERYD_NODES \
    --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} \
    --loglevel="${CELERYD_LOG_LEVEL}" $CELERYD_OPTS'
Restart=always

{% for item in celery_env_vars %}
Environment="{{ item.key }}={{ item.value }}"
{% endfor %}

[Install]
WantedBy=multi-user.target
