[Unit]
Description={{ goaccess_project|title }} Live Log Analyzer
After={{ goaccess_filter_service }}

[Service]
Type=simple
ExecStart=/usr/local/bin/goaccess \
               --log-file {{ goaccess_project_log_file }} \
               --log-format COMMON \
               --html-report-title "{{ goaccess_project|title }} Statistics" \
               --port {{ goaccess_ws_port }} \
               --real-time-html \
               --output {{ goaccess_html_file }} \
               --geoip-database {{ goaccess_geoip_file }} \
               --db-path {{ goaccess_data_project_dir }} \
               --persist \
               --restore
ExecStop=/bin/kill -9 ${MAINPID}
PrivateTmp=false
Restart=always

[Install]
WantedBy=multi-user.target
