#!/bin/bash

GITEA_BIN={{ gitea_bin }}
GITEA_CONFIG={{ gitea_config_dir }}/app.ini
GITEA_AUTH_CMD="${GITEA_BIN} --config=${GITEA_CONFIG} admin auth"
LDAP_HOST={{ gitea_ldap_host }}
LDAP_PORT={{ gitea_ldap_port }}
LDAP_USER_DN='{{ gitea_ldap_user_dn }}'
LDAP_BIND_DN={{ gitea_ldap_bind_dn }}'cn=root,ou=admins,dc=dev,dc=ironlabs,dc=net'
LDAP_BIND_PASSWORD={{ gitea_ldap_bind_password }}'VDAEWUD$(IwbUBZL~YRdT8Yb*PHqeH6b'
ARGS=" --name=ldap --security-protocol=unencrypted --host=$LDAP_HOST --port=$LDAP_PORT --user-dn=$LDAP_USER_DN --user-filter='(&(objectClass=inetOrgPerson)(cn=%s))' --admin-filter='(&(objectClass=inetOrgPerson)(cn=%s,ou=admins))' --username-attribute=cn --email-attribute=mail --firstname-attribute=givenName --surname-attribute=sn --bind-dn=$LDAP_BIND_DN --bind-password=$LDAP_BIND_PASSWORD"

AUTH_LIST="$($GITEA_AUTH_CMD list)"
if [[ ${AUTH_LIST} == *"Enabled1"* ]]; then
    $GITEA_AUTH_CMD update-ldap --id=1 $ARGS
else
    $GITEA_AUTH_CMD add-ldap --name=ldap $ARGS
fi
