---
- name: Converge
  hosts: all
  vars:
    users:
      - first_name: ""
        last_name: Unknown
        username: greg
        password: $6$rounds=656000$U/UO3LDxGOQv181h$RhFOiN5oIu1l79OXkc8AMiGcU0BRC3bCc63utFE5LQ7DHP4HoXpAgCscfVCDZsc0dabYOrsEbvCMXWFGvaVQm1
        email: greg@reinbach.com
        public_keys:
          active: []
          disabled: []
        is_admin: true
        type: admin
        is_active: true
        state: present
    file_config: "yes"
    label: Example
    domain: example.com
    ip_address: "{{ ansible_default_ipv4.address }}"
    http_port: 3000
    middlewares:
      - auth
    cors_domains: "domains"
    add_www: true
    add_path_prefixes:
      - "/media/"
      - "/static/"
    path_prefix_required: "yes"
    add_allowed_hosts: "example.com,www.example.com,10.0.2.100,127.0.0.1"
    other_domains:
      - "examp.le"
      - "rand.om"
  tasks:
    - name: "Include traefik"
      include_role:
        name: "traefik"
