---
- include_tasks: install.yml
- include_tasks: config.yml

- name: enable and start the gitea web service
  systemd:
    name: gitea
    state: started
    enabled: yes
    daemon-reload: yes

- include_tasks: create_system_user.yml
  when: drone_domain is defined

- include_role:
    name: traefik
  vars:
    file_config: "yes"
    label: "{{ gitea_label }}"
    domain: "{{ gitea_domain }}"
    ip_address: "{{ ansible_default_ipv4.address }}"
    http_port: "{{ gitea_http_port }}"
  tags:
    - users
