---
- include_tasks: install.yml
- include_tasks: config.yml

- include_role:
    name: goaccess
  vars:
    goaccess_project: "{{ static_name }}"
    goaccess_domain: "{{ static_domain }}"
    goaccess_ws_port: "{{ static_analytics_ws_port }}"
    goaccess_html_dir: "{{ static_analytic_dir }}"
    goaccess_html_file: "{{ static_analytic_dir }}/index.html"
  when: static_analytics == "yes"

- include_role:
    name: goapp
  vars:
    goapp_name: "{{ static_name }}"
    goapp_domain: "{{ static_domain }}"
    goapp_http_port: "{{ static_http_port }}"
    goapp_add_www: "{{ static_add_www }}"
    goapp_version: "{{ static_version }}"
    goapp_app: static-server
    goapp_release_source: s3
    goapp_release_bucket: bayete
    goapp_release_path: releases/static-server
    goapp_access_key_id: "{{ static_access_key }}"
    goapp_secret_access_key: "{{ static_secret_key }}"
    goapp_env_vars: "{{ static_env_vars }}"
    cors_domains: "domains"
