---
version: "3.3"

services:
    server:
        image: drone/drone:{{ drone_version }}
        volumes:
            - type: bind
              source: {{ drone_working_dir }}/data
              target: /data
            - type: bind
              source: /var/run/docker.sock
              target: /var/run/docker.sock
        env_file: {{ drone_env_file }}
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.http-drone.rule=Host(`{{ drone_domain }}`)"
            - "traefik.http.routers.http-drone.entrypoints=web"
            - "traefik.http.routers.http-drone.service=drone-service"
            - "traefik.http.routers.http-drone.middlewares=https-redirect@file"
            - "traefik.http.routers.https-drone.rule=Host(`{{ drone_domain }}`)"
            - "traefik.http.routers.https-drone.entrypoints=web-secure"
            - "traefik.http.routers.https-drone.tls=true"
            - "traefik.http.routers.https-drone.tls.certresolver=letsencrypt"
            - "traefik.http.routers.https-drone.tls.domains[0].main={{ drone_domain }}"
            - "traefik.http.routers.https-drone.service=drone-service"
            - "traefik.http.services.drone-service.loadbalancer.server.port=80"
    runner:
        image: drone/drone-runner-docker:latest
        volumes:
            - type: bind
              source: /var/run/docker.sock
              target: /var/run/docker.sock
        env_file: {{ drone_env_file }}
