DRONE_SERVER_HOST={{ drone_domain }}
DRONE_SERVER_PROTO=https

DRONE_LOGS_DEBUG=true

# runner
DRONE_RPC_HOST={{ drone_domain }}
DRONE_RPC_SECRET={{ drone_rpc_secret }}
DRONE_RPC_PROTO=https

DRONE_USER_FILTER={{ drone_users }}

# database
DRONE_DATABASE_DRIVER=postgres
DRONE_DATABASE_DATASOURCE=postgres://{{ drone_database_user }}:{{ drone_database_password|urlencode }}@{{ drone_database_uri }}:{{ drone_database_port }}/{{ drone_database_name }}?sslmode=disable

{% if drone_github_enabled == "yes" %}
# github
DRONE_GITHUB_CLIENT_ID={{ github_oauth_key }}
DRONE_GITHUB_CLIENT_SECRET={{ github_oauth_secret }}
DRONE_GITHUB_SKIP_VERIFY=true
{% endif %}

{% if gitea_enabled == "yes" %}
# gitea
DRONE_GITEA_CLIENT_ID={{ gitea_oauth_key }}
DRONE_GITEA_CLIENT_SECRET={{ gitea_oauth_secret }}
DRONE_GITEA_SERVER=https://{{ gitea_domain }}
{% endif %}

{% if drone_gitlab_enabled == "yes" %}
# gitlab
DRONE_GITLAB_CLIENT_ID={{ gitlab_oauth_key }}
DRONE_GITLAB_CLIENT_SECRET={{ gitlab_oauth_secret }}
DRONE_GITLAB_SERVER={{ gitlab_domain }}
{% endif %}
