[Unit]
Description=Sentry
Requires=docker.service
After=docker.service

[Service]
Restart=always
User={{ sentry_user }}
Group=docker
EnvironmentFile={{ sentry_dir }}/.env
# Shutdown container (if running) when unit is stopped
ExecStartPre=/usr/local/bin/docker-compose -f {{ sentry_dir }}/docker-compose.yml down
# Start container when unit is started
ExecStart=/usr/local/bin/docker-compose -f {{ sentry_dir }}/docker-compose.yml up
# Stop container when unit is stopped
ExecStop=/usr/local/bin/docker-compose -f {{ sentry_dir }}/docker-compose.yml down

[Install]
WantedBy=multi-user.target
