---
- include_tasks: install.yml

- name: enable and start the goapp
  systemd:
    name: "{{ goapp_name }}"
    state: started
    enabled: yes
    daemon-reload: yes

- include_role:
    name: traefik
  vars:
    file_config: "yes"
    label: "{{ goapp_name }}"
    domain: "{{ goapp_domain }}"
    ip_address: "{{ ansible_default_ipv4.address }}"
    http_port: "{{ goapp_http_port }}"
    add_www: "{{ goapp_add_www }}"
    add_prefix: "{{ goapp_add_prefix|default() }}"
  tags:
    - users
