---
- name: check if version exists
  stat:
    path: "{{ goapp_dir }}/{{ goapp_version }}"
  register: version

- name: unarchive goapp release
  unarchive:
    src: "{{ goapp_release_url }}"
    dest: "{{ goapp_dir }}"
    owner: "{{ goapp_user }}"
    group: "{{ goapp_group }}"
    mode: 0755
    remote_src: true
    list_files: true
  register: release_list
  when: version.stat.exists == False

- set_fact:
    goapp_filename: "{{ release_list.files[0] }}"
  when: release_list.changed and goapp_filename is not defined
