---
- name: setup environment file
  notify: restart django
  template:
    src: env_vars.j2
    dest: "{{ django_app_dir }}/.env"
    owner: "{{ django_user }}"
    group: "{{ django_user }}"
    mode: 0664

- name: run deployment checklist
  command: python3 ./manage.py check --deploy
  args:
    chdir: "{{ django_app_dir }}"

- name: build assets
  command: "{{ django_build_assets }}"
  args:
    chdir: "{{ django_app_dir }}"

- name: collect static files
  command: python3 ./manage.py collectstatic --noinput
  args:
    chdir: "{{ django_app_dir }}"

- name: migrate database
  command: python3 ./manage.py migrate --noinput
  args:
    chdir: "{{ django_app_dir }}"

- name: run initial commands
  command: "python3 ./manage.py {{ item }}"
  args:
    chdir: "{{ django_app_dir }}"
  with_items: "{{ django_commands }}"

- name: load fixtures
  command: "python3 ./manage.py {{ item }}"
  args:
    chdir: "{{ django_app_dir }}"
  with_items: "{{ django_fixtures }}"
