---
- name: install required packages
  become: true
  package:
    name: "{{ item }}"
    state: present
  with_items: "{{ ansible_support_packages }}"

- name: install required libraries
  pip:
    name: "{{ django_libraries }}"
    state: present
    executable: /usr/bin/pip3

- name: create django group
  group:
    name: "{{ django_group }}"
    state: present

- name: create django user
  user:
    name: "{{ django_user }}"
    group: "{{ django_group }}"
    home: "{{ django_dir }}"
    append: yes

- name: create django directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ django_user }}"
    group: "{{ django_group }}"
    mode: 0755
    recurse: yes
  with_items: "{{ django_dirs }}"

- name: check if version exists
  stat:
    path: "{{ django_dir }}/{{ django_version }}"
  register: version

- name: download django release
  unarchive:
    src: "{{ item.url }}"
    dest: "{{ item.dest }}"
    owner: "{{ django_user }}"
    group: "{{ django_group }}"
    mode: 0755
    remote_src: true
    exclude:
      - tests
  with_items:
    - url: "{{ django_release_url }}"
      dest: "{{ django_dir }}"
  when: version.stat.exists == False

- name: rename django download
  command: "mv {{ django_dir }}/{{ django_repo_name }} {{ django_dir }}/{{ django_version }}"
  args:
    creates: "{{ django_dir }}/{{ django_version }}"
    removes: "{{ django_dir }}/{{ django_repo_name }}"
  when: version.stat.exists == False

- name: link django release
  file:
    path: "{{ django_app_dir }}"
    src: "{{ django_dir }}/{{ django_version }}"
    state: link
    owner: "{{ django_user }}"
    group: "{{ django_group }}"
    mode: 0755

- name: install django app libraries
  command: pipenv install --system  --ignore-pipfile --deploy
  args:
    chdir: "{{ django_app_dir }}"

- name: create the django systemd service file
  template:
    src: django.service.j2
    dest: "{{ systemd_units_dir }}/{{ django_name }}.service"
  notify: restart django
