[Unit]
Description=Django Application
After=syslog.target
After=network.target

[Service]

Type=simple
User={{ django_user }}
Group={{ django_group }}
WorkingDirectory={{ django_working_dir }}

ExecStart=daphne -b {{ django_http_listen_addr }} -p {{ django_http_port }} {{ django_project }}.asgi:application
Restart=always

# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because
# of that
###
#LimitMEMLOCK=infinity
#LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
