---
- name: Update and upgrade apt packages
  become: yes
  apt:
    upgrade: "yes"
    update_cache: "yes"
    # cache_valid_time: 86400  # One day

- name: add required packages
  become: yes
  apt:
    name: "{{ apt_required_packages }}"
    state: present
