---
- name: Converge
  hosts: all
  vars:
    goapp_name: app
    goapp_database_name: worker_infra
    goapp_database_password: 123
    goapp_database_uri: psql.bayete.com
    goapp_database_user: worker_infra_user
    goapp_version: 0.1
    goapp_release_source: url
    goapp_ubuntu_packages:
      - ansible
  tasks:
    - name: "Include goapp"
      include_role:
        name: "goapp"
