---
- name: define allowed_hosts
  set_fact:
    allowed_hosts: "{{ djangoapp_domain }},www.{{ djangoapp_domain }},{{ ansible_default_ipv4.address }},127.0.0.1"

- name: create the djangoapp systemd service file
  template:
    src: djangoapp.service.j2
    dest: "{{ systemd_units_dir }}/{{ djangoapp_name }}.service"
    owner: root
    group: root
    mode: '0644'
  notify: restart djangoapp

- name: setup environment file
  notify: restart djangoapp
  template:
    src: env_vars.j2
    dest: "{{ djangoapp_app_dir }}/.env"
    owner: "{{ djangoapp_user }}"
    group: "{{ djangoapp_group }}"
    mode: 0664

- name: run deployment checklist
  become: yes
  become_user: "{{ djangoapp_user }}"
  command: pipenv run python manage.py check --deploy
  args:
    chdir: "{{ djangoapp_app_dir }}"

- name: collect static files
  become: yes
  become_user: "{{ djangoapp_user }}"
  command: pipenv run python manage.py collectstatic --noinput
  args:
    chdir: "{{ djangoapp_app_dir }}"

- name: migrate database
  become: yes
  become_user: "{{ djangoapp_user }}"
  command: pipenv run python manage.py migrate --noinput
  args:
    chdir: "{{ djangoapp_app_dir }}"

- name: run initial commands
  become: yes
  become_user: "{{ djangoapp_user }}"
  command: "pipenv run python manage.py {{ item }}"
  args:
    chdir: "{{ djangoapp_app_dir }}"
  with_items: "{{ djangoapp_commands }}"

- name: load fixtures
  become: yes
  become_user: "{{ djangoapp_user }}"
  command: "pipenv run python manage.py loaddata {{ item }}"
  args:
    chdir: "{{ djangoapp_app_dir }}"
  with_items: "{{ djangoapp_fixtures }}"
