[http]
  [http.routers]
    [http.routers.http-{{ label }}-router]
      entryPoints = ["web"]
      service = "service-{{ label }}"
      rule = "Host(`{{ domain }}`){% if add_www %} || Host(`www.{{ domain }}`){% endif %}"
      middlewares = ["https-redirect"]
    [http.routers.https-{{ label }}-router]
      entryPoints = ["web-secure"]
      service = "service-{{ label }}"
      rule = "Host(`{{ domain }}`){% if add_www %} || Host(`www.{{ domain }}`){% endif %}"
      {% if middlewares %}
      middlewares = {{ middlewares }}
      {% endif %}
      [http.routers.https-{{ label }}-router.tls]
        certResolver = "letsencrypt"
        [[http.routers.https-{{ label }}-router.tls.domains]]
          main = "{{ domain }}"
          {% if add_www %}sans = ["www.{{ domain }}"]{% endif %}

  [http.services]
    [http.services.service-{{ label }}]
      [http.services.service-{{ label }}.loadBalancer]
        [[http.services.service-{{ label }}.loadBalancer.servers]]
          url = "http://{{ ip_address }}:{{ port }}"
