[http]
  [http.routers]
    [http.routers.http-{{ label }}-router]
      entryPoints = ["web"]
      service = "service-{{ label }}"
      rule = "{{ router_rule }}"
      middlewares = ["https-redirect"]
    [http.routers.https-{{ label }}-router]
      entryPoints = ["web-secure"]
      service = "service-{{ label }}"
      rule = "{{ router_rule }}"
      {% if middlewares %}
      middlewares = [{% for m in middlewares %}"{{ m }}",{% endfor %}]
      {% endif %}
      [http.routers.https-{{ label }}-router.tls]
        certResolver = "letsencrypt"
        [[http.routers.https-{{ label }}-router.tls.domains]]
          main = "{{ domain }}"
          {% if add_www %}sans = ["www.{{ domain }}"]{% endif %}

  [http.services]
    [http.services.service-{{ label }}]
      [http.services.service-{{ label }}.loadBalancer]
        [[http.services.service-{{ label }}.loadBalancer.servers]]
          url = "http://{{ ip_address }}:{{ http_port }}"

{% if cors_domains is defined %}
[http.middlewares.{{ cors_middleware }}.headers]
  accessControlAllowMethods = ["GET", "OPTIONS"]
  accessControlAllowOriginList = [{% for c in cors_domains %}"{{ c }}",{% endfor %}]
  accessControlMaxAge = 100
  addVaryHeader = true
{% endif %}

{% if add_allowed_hosts is defined %}
[http.middlewares.{{ allowed_hosts_middleware }}.headers]
  allowedHosts = [{% for h in add_allowed_hosts.split(",") %}"{{ h }}",{% endfor %}]
{% endif %}
