[http]
  [http.routers]
    [http.routers.http-{{ label }}-router]
      entryPoints = ["web"]
      service = "service-{{ label }}"
      rule = "{{ router_rule }}"
      middlewares = ["https-redirect"]

{% if add_analytics %}
    [http.routers.analytics-{{ label }}-router]
      entryPoints = ["analytics"]
      service = "service-analytics-{{ label }}"
      rule = "{{ router_domain_rule }}"
      middlewares = ["ssl-header"]
      [http.routers.analytics-{{ label }}-router.tls]
        certResolver = "letsencrypt"
        [[http.routers.analytics-{{ label }}-router.tls.domains]]
          main = "{{ domain }}"
          sans = ["{{ domains|join('","') }}"]
{% endif %}

    [http.routers.https-{{ label }}-router]
      entryPoints = ["web-secure"]
      service = "service-{{ label }}"
      rule = "{{ router_rule }}"
{% if middlewares %}
      middlewares = ["{{ middlewares|join('","') }}"]
{% endif %}
      [http.routers.https-{{ label }}-router.tls]
        certResolver = "letsencrypt"
        [[http.routers.https-{{ label }}-router.tls.domains]]
          main = "{{ domain }}"
          sans = ["{{ domains|join('","') }}"]

  [http.services]
    [http.services.service-{{ label }}]
      [http.services.service-{{ label }}.loadBalancer]
        [[http.services.service-{{ label }}.loadBalancer.servers]]
          url = "http://{{ ip_address }}:{{ http_port }}"

{% if add_analytics %}
    [http.services.service-analytics-{{ label }}]
      [http.services.service-analytics-{{ label }}.loadBalancer]
        [[http.services.service-analytics-{{ label }}.loadBalancer.servers]]
          url = "http://{{ ip_address }}:{{ analytics_port }}"
{% endif %}


{% if cors_domains is defined %}
[http.middlewares.{{ cors_middleware }}.headers]
  accessControlAllowMethods = ["GET", "OPTIONS"]
  accessControlAllowOriginList = ["https://{{ final_cors_domains|join('","https://') }}"]
  accessControlMaxAge = 100
  addVaryHeader = true
{% endif %}

{% if add_allowed_hosts is defined %}
[http.middlewares.{{ allowed_hosts_middleware }}.headers]
  allowedHosts = ["{{ add_allowed_hosts|join('","') }}"]
{% endif %}

{% if ip_whitelist is defined %}
[http.middlewares.{{ ip_whitelist_middleware }}.ipWhiteList]
  sourceRange = ["{{ ip_whitelist|join('","') }}"]
{% endif %}

{% if strip_prefixes is defined %}
[http.middlewares.{{ strip_prefix_middleware }}.stripPrefix]
  prefixes = ["{{ strip_prefixes|join('","') }}"]
{% endif %}

{% for redirect in regex_redirect %}
[http.middlewares.{{ label }}{{ redirect.label }}.redirectRegex]
  regex = "{{ redirect.regex }}"
  replacement = "{{ redirect.replacement }}"
{% endfor %}
