logLevel = "INFO"

[entryPoints]
  [entryPoints.web]
    address = ":80"
  [entryPoints.web-secure]
    address = ":443"
{% if traefik_dashboard %}
  [entryPoints.api]
    address = ":8080"
{% endif %}

[providers]
  [providers.file]
    directory = "{{ traefik_config_dir }}"
    watch = true

[certificatesResolvers.letsencrypt.acme]
  email = "greg@ironlabs.com"
  storage = "acme.json"
 [certificatesResolvers.letsencrypt.acme.httpChallenge]
   entryPoint = "web"

[log]
  filePath = "{{ traefik_log_dir }}/traefik.log"

{% if traefik_dashboard %}
[api]
  dashboard = true
{% endif %}
