[http]
  [http.routers]
    [http.routers.api]
      rule = "PathPrefix(`/api`) || PathPrefix(`/dashboard`)"
      service = "api@internal"
      middlewares = ["auth"]

  [http.middlewares]
    [http.middlewares.auth.basicAuth]
      users = [
        "bayete:$2b$12$p6LMnRzRiuTZXw6xLST/q.6.sUlms/ATYAWSe3DAlwolW5CSZTLZ6"
      ]
