[http]
  [http.routers]
    [http.routers.api]
      rule = "PathPrefix(`/api`) || PathPrefix(`/dashboard`)"
      service = "api@internal"
      middlewares = ["auth"]

  [http.middlewares]
    [http.middlewares.auth.basicAuth]
      usersFile = "{{ traefik_auth_file }}"
      realm = "{{ inventory_hostname }}"
