---
goapp_version: 0.1
# TODO these vars need to be better formatted
# to better handle different scenarios
goapp_name: app

goapp_release_file: "{{ goapp_name }}-{{ goapp_version }}.tar.gz"

# s3 release source
goapp_release_bucket: bayete
goapp_release_path: releases/sample
goapp_release_object: "{{ goapp_release_path }}/{{ goapp_release_file }}"

# url release source
goapp_release_url: "https://github.com/Bayete/sample-public/releases/download/{{ goapp_version }}/{{ goapp_release_file }}"

goapp_ubuntu_packages: []

goapp_user: "{{ goapp_name }}"
goapp_group: "{{ goapp_user }}"
goapp_dir: "/home/www/{{ goapp_name }}"
goapp_app_bin: "{{ goapp_dir }}/app"
goapp_service_params: ""

goapp_dirs: []
goapp_env_vars: []

goapp_http_listen_addr: 0.0.0.0
goapp_http_port: 3000
goapp_add_www: false
