[Unit]
Description={{ djangoapp_name|title }} Application
After=syslog.target
After=network.target

[Service]

Type=simple
User={{ djangoapp_user }}
Group={{ djangoapp_group }}
WorkingDirectory={{ djangoapp_working_dir }}

ExecStart=pipenv run daphne -b {{ djangoapp_http_listen_addr }} -p {{ djangoapp_http_port }} {{ djangoapp_project }}.asgi:application
Restart=always

{% for item in djangoapp_env_vars %}
Environment="{{ item.key }}={{ item.value }}"
{% endfor %}

[Install]
WantedBy=multi-user.target
